* {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 90vh;
    margin: 20px 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo-wrapper h2 {
    color: #1E0E62;
    font-weight: 700;
}

.header .container .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .container .links-wrapper ul {
    list-style: none;
    display: flex;
    flex: 1;
    gap: 38px;
}

.header > .container .links-wrapper a {
    color: #15143966;
    font-weight: 500;
    font-size: 18px;
}

.header > .container .buttons-wrapper a:nth-child(1) {
    display: inline-block;
    color: #25DAC5;
}

.header > .container .buttons-wrapper a:nth-child(2) {
    display: inline-block;
    background-color: #25DAC5;
    color: #fff;
    margin-left: 18px;
    padding: 10px 20px;
    border-radius: 100px;
}

.hero-wrapper {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.hero {
    max-width: 628px;
    text-align: center;
    margin: 0px auto;
}

.hero .hero-heading {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 58px;
    color: #1E0E62;
    margin-bottom: 24px;
}

.hero .hero-description {
    color: #15143966;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.hero .hero-button {
    display: inline-block;
    background-color: #E93A7D;
    border-radius: 100px;
    color: #fff;
    padding: 14px 34px;
    font-weight: 500;
    font-size: 20px;
    margin: 20px 0;
}

.cards {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 32px;
}

.cards p {
    color: #15143966;
    line-height: 1.4;
    font-weight: 500;
    font-size: 18px;
    margin-top: 12px;
}

.cards .card {
    width: 228px;
}

.cards .middle-card {
    flex: 0.7;
    justify-items: center;
}

.cards .middle-card .card-img {
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    width: 100%;
}

.cards .middle-card .card-body {
     width: 228px;
}