@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }

  .right nav {
    display: none;
  }

  .right {
    flex: 0;
  }

  .hamburgerBtn {
    display: inline;
  }

  .innerBanner {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .industryBoxOne .cards {
    flex-direction: column;
    gap: 30px;
  }

  .testimonialsDetails .testimonialsUserImgWrapper {
    display: none;
    position: initial;
    left: none;
    top: none;
  }

  .industryBoxTwo .cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .footerLinks {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 768px) {
  .btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    justify-content: center;
  }

  .backgroundGradientWrapper {
    background: rgba(0, 0, 0, 0) 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .services .cards {
    flex-direction: column;
  }

  .contactUs .contactUsInner {
    flex-direction: column;
    align-items: start;
    /* text-align: center; */
  }

  .footerLinks {
    grid-template-columns: auto auto;
  }

  .industryBoxTwo .cards {
    /* display: grid; */
    grid-template-columns: auto auto;
  }

  .footerBox {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }

  .footerBottom {
    background-color: #252b42;
    color: #fff;
  }
}

@media screen and (max-width: 420px) {
  .loginBtn,
  .signUpBtn {
    display: none;
  }

  .industryBoxTwo .cards {
    /* display: grid; */
    grid-template-columns: auto;
  }

  .footerLinks {
    grid-template-columns: auto;
  }
}
